/* page background and main font */
body {
    background: #d72bfb;
    font-family: Arial, Helvetica, sans-serif;
}

/* main heading */
h1 {
    color: #f3f725;
    text-align: center;
}

/* Project container */
.projects {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

/* project boxes */
.project {
    background: #f3f725;
    padding: 20px;
    border-radius: 20px;
    width: 300px;
}

/* images */
img {
    width: 100%;
    height: auto;
    display: block;
    margin: 10px 0;
}



