body {
    background: #d72bfb;
    font-family: Arial, Helvetica, sans-serif;

}
h1 {
    color: #f3f725;
    text-align: 

}
.projects { display:flex; flex-wrap:wrap; } /* condensed to save space */
.project {
  .affinity-img {
  width: 400px;     /* fixed smaller size */
  height: auto;
  display: block;
  margin: 20px auto;
}

}

padding: 20px 10px;
background: #f3f725; /* pick a color */
border-radius: 25%;
}


